{% extends "layout.html" %}

{% block title %}
    Log IN
{% endblock %}

{% block main %}
    <form action="/login" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="usernaame" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="passward">
        </div>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
{% endblock %}